# Put the mnemonic for an account on Optimism here
MNEMONIC="test test test test test test test test test test test junk"

# Put the URL for an Optimism (or Optimism Goerli) network here
L2_URL=https://goerli.optimism.io
