# Project specific
deploy
deployments
optimism-integration
typechain

# environment variables
.env
.env.local

# Packages
node_modules/

# Hardhat build outputs
artifacts/
artifacts-ovm/
cache/
cache-ovm
